.features__container {

@media (min-width: 768px) {
  @include flexsible(center, center);
}
  
}

.features__content-box {
  margin-bottom: 20px;
  @media (min-width: 768px) {
  max-width: 45%;
  margin-right: 30px;
  margin-bottom: 0;
  }
}

.features__item {
@include padding(80px, 60px);

  @media (min-width: 768px) {
      @include padding(142px, 141px);
    }

  &:nth-child(2n) {
    background-color: #fffaf8;
  }
}

.features__item:nth-child(2n) .features__container {

  @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
  
}

.features__item:nth-child(2n) .features__container .features__content-box {
    @media (min-width: 768px) {
    margin-right: 0;
      margin-left: 30px;
      }
  
}

.features__title {
  margin-bottom: 25px;
}

.features__text {
  @extend %text;
  margin-bottom: 24px;
}

.features__button {
  display: flex;
  align-items: center;
  color: $accent-color;
  font-size: 18px;
  line-height: 100%;

  @media (min-width: 768px) {
  font-size: 24px;
  }

}

.features__button svg {
  margin-left: 12px;
  stroke: currentColor;
}

.features__icon {
    @media (min-width: 768px) {
          max-width: 45%;
      }


}
