.features__container {
  @include flexsible(center, center);
}

.features__content-box {
  max-width: 45%;
  margin-right: 30px;
}

.features__item {
  @include padding(142px, 141px);

  &:nth-child(2n) {
    background-color: #fffaf8;
  }
}

.features__item:nth-child(2n) .features__container {
  flex-direction: row-reverse;
}

.features__item:nth-child(2n) .features__container .features__content-box {
  margin-right: 0;
  margin-left: 30px;
}

.features__title {
  margin-bottom: 25px;
}

.features__text {
  @extend %text;
  margin-bottom: 24px;
}

.features__button {
  display: flex;
  align-items: center;
  color: $accent-color;
  font-size: 24px;
  line-height: 100%;
}

.features__button svg {
  margin-left: 12px;
  stroke: currentColor;
}

.features__icon {
  max-width: 45%;
  height: auto;
}
