.feedback {
  @include padding(60px, 60px);

  @media (min-width: 768px) {
    @include padding(120px, 120px);
    }
  
}

.feedback__title {
  margin-bottom: 80px;
  text-align: center;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  padding-left: 28px;
  padding-right: 29px;
  padding-bottom: 25px;
  padding-top: 16px;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
}

.swiper-slide[aria-label='1 / 5'] {
  border-top: 10px solid #ffbe21;
}

.swiper-slide[aria-label='2 / 5'] {
  border-top: 10px solid #4756df;
}

.swiper-slide[aria-label='3 / 5'] {
  border-top: 10px solid #3ec1f3;
}

.swiper-slide[aria-label='4 / 5'] {
  border-top: 10px solid #bb7259;
}

.swiper-slide[aria-label='5 / 5'] {
  border-top: 10px solid #ff7235;
}

.swiper-pagination {
  position: static;
  margin-top: 24px;
}

.slider__text {
  font-size: 18px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 24px;
}

.slider__sign {
  display: flex;
}

.slider__name {
  margin-left: 12px;
  font-size: 16px;
  line-height: 1.6em;
  color: $secondary-color;
}

.slider__name span {
  font-weight: 700;
  color: #000000;
}

.avatar {
  width: 30px;
  height: 30px;
}
