.hero {
  padding-bottom: 20px;
@media (min-width: 768px) {
    padding-bottom: 210px;
  }
 
}

.hero__container {
  @media (min-width: 768px) {
      @include flexsible(space-between, center);
    }
  
}

.hero__wrraper {
  max-width: 540px;
    @media (maz-width: 767px) {
          margin-bottom: 20px;
      }

}

.hero__title {
  margin-bottom: 20px;
}

.hero__text {
  margin-bottom: 40px;
  @extend %text;
}

.hero__button {
  @include button(18px, 24px, 18px, 24px);
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 95%;
  color: $main-light-color;
  background-color: $accent-color;
  @include transition(background-color);

  &:hover, &:focus {
    background-color: $main-light-color;
    color: $accent-color;
  }

        @media (min-width: 1200px) {
          margin-right: 25px;
          margin-bottom: 0;
            display: inline-flex;
        }
}

.hero__icon {
  margin-left: 10px;
  stroke: currentColor;
}

.hero__description {
  @extend %text;
}

.hero__image {
  max-width: 100%;
  height: auto;

  @media (min-width: 768px) {
    max-width: 50%;
    }
}
