.overview-section {
  padding-top: 87px;
  background-color: $accent-color;
  background-image: url(../image/bg-gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overview-img {
  margin-left: auto;
  margin-right: auto;
}
